body {
    background-color: rgb(17, 83, 159);
    font-family: system-ui;
    overflow-x: hidden;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display:  none;
}

#headerSection {
    background-color: rgb(6, 59, 119);
    width: 100%;
    height: 60px;
    margin-left: -8px;
    padding-right: 18px;
    margin-top: -20px;
    padding-top: 10px;
    padding-bottom: 40px;
    position: relative;
}

/* border */
#headerSection::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    top: 106px;
    width: 100%;
    height: 3px;
    background-color: rgb(49, 116, 192);
    border-radius: 50%;
    transform: scaleY(11) scaleX(1);
    z-index: 0;
}

/* actual curve and transition to regular color(change this and background color of body) */
#headerSection::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    top: 113px;
    width: 100%;
    height: 3px;
    background-color: rgb(17, 83, 159);
    border-radius: 50%;
    transform: scaleY(11) scaleX(1);
    z-index: 0;
}

.title {
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 15px;
    margin-right: 0px;
    text-align: center ; 
    font-size: 250%;
    margin-top: 0px;
    padding-top: 10px;
    color: rgb(192, 220, 251);
}

::selection {
    background: rgb(55, 126, 197);
}


.inputBox input:focus {
    outline: none;
    border-bottom: 2px solid rgb(76, 143, 210);
}



.container {
    width: 300px;
    margin: 0 auto;;
    text-align: center;
    margin-top: 30px;
    font-family: system-ui;
    font-weight:500;
    background: rgb(23, 90, 167);
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 20px;
    border: 2px solid rgb(76, 143, 210);
}

h1 {
    color: rgb(153, 201, 255);
}

.inputBox input {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgb(76, 143, 210);
    transition: border-bottom 0.1s ease-in-out;
    color: rgb(135, 187, 247);
    font-size: large;
}



.loginButton {
    padding: 10px 20px;
    background-color: rgb(71, 141, 222);
    border-radius: 20px;
    width: 36%;
    border: none;
    cursor: pointer;
    color: rgb(172, 211, 255);
    font-size: 100%;
    font-weight:600;
    border-bottom: 1px solid rgb(132, 184, 236);
    transition: background-color 0.3s ease, color 0.3s ease
}
.loginButton:hover {
    background-color: rgb(94, 164, 244);
    color: rgb(186, 218, 255);
}


.inputBox {
    position: relative;
    margin: 20px 0;
    width: 310px;
}

.inputBox label {
    color: rgb(102, 166, 239);
    position: absolute;
    top: 40%;
    left: 40px;
    transform: translateY(-40%);
    pointer-events: none;
    transition: 0.4s;
    font-size: 17px;
}

.inputBox input:focus ~ label,
.inputBox input:valid ~ label {
    top: -2px;
    font-size: 13px;
}

.link {
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    color: rgb(109, 166, 239);
    padding-bottom: 15px;
    display: block;
    margin-top: -5px;
    text-decoration: none;
}


.link:hover {
    text-decoration: underline;
}